scipy
numpy
pandas
scikit-learn
jupyter
matplotlib
seaborn
requests
pvlib
cvxpy
pykml
haversine
smart_open
sig-decomp
clarabel
qss
tqdm
spcqe
# Packages below this line are for the SDT Dask tool feature (optional)
dask
distributed
dask-cloudprovider[all]
graphviz
bokeh