scipy>=1.11
numpy>=1.22.0
pandas
scikit-learn
jupyter
matplotlib
seaborn
requests
pvlib
cvxpy>=1.3.2
cmake
pykml
haversine
boto3
smart_open
cassandra-driver
sig-decomp
osqp
clarabel
qss
tqdm
spcqe @ git+https://github.com/cvxgrp/spcqe.git@29c72667f6f0876531f5cff0e43c2201591183e9
