version: 2

368_config: &368_config
  docker:
    - image: circleci/python:3.7

jobs:
  build:
    <<: *368_config
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            sudo pip install -r requirements.txt
            sudo pip install awscli coverage
      - run:
          name: Setup Mosek License File
          command: |
            sudo mkdir /root/mosek
            mkdir $HOME/mosek
            aws s3 cp s3://slac.gismo.ci.artifacts/mosek.license/mosek.lic $HOME/mosek/mosek.lic
            sudo cp $HOME/mosek/mosek.lic /root/mosek/mosek.lic

      - run:
          name: Run Unit Tests
          command: |
            sudo coverage run -m unittest

  deploy-pypi:
    <<: *368_config
    steps:
      - checkout
      - run:
          name: Install twine
          command: sudo pip install twine

      - run:
          name: Create the distribution
          command: sudo python setup.py sdist bdist_wheel

      - run:
          name: Push to PyPI
          command: sudo twine upload -u $PYPI_USERNAME -p $PYPI_PASSWORD dist/*

  deploy-conda:
    <<: *368_config
    steps:
      - checkout
      - run:
          name: Install the Conda Dependencies
          command: |
            wget https://repo.anaconda.com/miniconda/Miniconda3-4.7.10-Linux-x86_64.sh -O miniconda.sh
            bash miniconda.sh -b -p "$HOME"/miniconda
            source /home/circleci/miniconda/etc/profile.d/conda.sh
            conda activate base
            conda config --set always_yes yes --set auto_update_conda false
            conda update conda
            conda install conda-build

      - run:
          name: Build the Anaconda Package
          command: |
            source /home/circleci/miniconda/etc/profile.d/conda.sh
            conda activate base
            conda install anaconda-client
            conda config --set anaconda_upload no
            anaconda login --username $ANACONDA_CLOUD_USERNAME --password $ANACONDA_CLOUD_PASSWORD
            VERSION_FROM_GIT_TAG=`git tag --list "v*[0-9]" --sort=version:refname | tail -1 | cut -c 2-` conda build . -c conda-forge --numpy 1.16.4

      - run:
          name: Get the output path and upload the package
          command: |
            source /home/circleci/miniconda/etc/profile.d/conda.sh
            conda activate base
            VERSION_FROM_GIT_TAG=`git tag --list "v*[0-9]" --sort=version:refname | tail -1 | cut -c 2-`
            anaconda upload -u slacgismo  /home/circleci/miniconda/conda-bld/noarch/solar-data-tools-$VERSION_FROM_GIT_TAG-*.tar.bz2


workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy-pypi:
          requires:
            - build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
      - deploy-conda:
          requires:
            - build
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+$/
            branches:
              ignore: /.*/
